:host {

  .sidebar {
    position: relative;
    bottom: 0;
  }

  .sidebar-narrow-unfoldable {
    position: sticky;
  }

  //.sidebar-toggler {
  //  position: sticky;
  //  margin-top: auto;
  //  align-self: flex-end;
  //}
}
.docs-example {
  --cd-example-padding: 0;
}
