.stepper {
  --cui-stepper-steps-gap: #{$stepper-steps-gap};
  --cui-stepper-step-gap: #{$stepper-step-gap};
  --cui-stepper-step-button-width: #{$stepper-step-button-width};
  --cui-stepper-step-button-color: #{$stepper-step-button-color};
  --cui-stepper-step-button-active-color: #{$stepper-step-button-active-color};
  --cui-stepper-step-button-complete-color: #{$stepper-step-button-complete-color};
  --cui-stepper-step-button-disabled-color: #{$stepper-step-button-disabled-color};
  --cui-stepper-step-indicator-width: #{$stepper-step-indicator-width};
  --cui-stepper-step-indicator-height: #{$stepper-step-indicator-height};
  --cui-stepper-step-indicator-bg: #{$stepper-step-indicator-bg};
  --cui-stepper-step-indicator-color: #{$stepper-step-indicator-color};
  --cui-stepper-step-indicator-border-width: #{$stepper-step-indicator-border-width};
  --cui-stepper-step-indicator-border-color: #{$stepper-step-indicator-border-color};
  --cui-stepper-step-indicator-transition: #{$stepper-step-indicator-transition};
  --cui-stepper-step-indicator-active-color: #{$stepper-step-indicator-active-color};
  --cui-stepper-step-indicator-active-bg: #{$stepper-step-indicator-active-bg};
  --cui-stepper-step-indicator-active-border-color: #{$stepper-step-indicator-active-border-color};
  --cui-stepper-step-indicator-complete-color: #{$stepper-step-indicator-complete-color};
  --cui-stepper-step-indicator-complete-bg: #{$stepper-step-indicator-complete-bg};
  --cui-stepper-step-indicator-complete-border-color: #{$stepper-step-indicator-complete-border-color};
  --cui-stepper-step-indicator-disabled-color: #{$stepper-step-indicator-disabled-color};
  --cui-stepper-step-indicator-disabled-bg: #{$stepper-step-indicator-disabled-bg};
  --cui-stepper-step-indicator-disabled-border-color: #{$stepper-step-indicator-disabled-border-color};
  --cui-stepper-step-indicator-focus-box-shadow: #{$stepper-step-indicator-focus-box-shadow};
  --cui-stepper-step-indicator-icon: #{$stepper-step-indicator-icon};
  --cui-stepper-step-indicator-icon-color: #{$stepper-step-indicator-icon-color};
  --cui-stepper-step-indicator-icon-size: #{$stepper-step-indicator-icon-size};
  --cui-stepper-step-connector-height: #{$stepper-step-connector-height};
  --cui-stepper-step-connector-gap: #{$stepper-step-connector-gap};
  --cui-stepper-step-connector-bg: #{$stepper-step-connector-bg};
  --cui-stepper-step-connector-complete-bg: #{$stepper-step-connector-complete-bg};
  --cui-stepper-step-connector-transition: #{$stepper-step-connector-transition};
  --cui-stepper-step-content-transition: #{$stepper-step-content-transition};
}
