<!-- Plugins and scripts required by this view-->
<script src="js/google-maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=InitMap&amp;key=AIzaSyASyYRBZmULmrmw_P9kgr7_266OhFNinPA"></script>


<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-map"></i>Google Maps
      <a class="badge badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
      <div class="card-header-actions">
        <a class="card-header-action" href="https://google-developers.appspot.com/maps/documentation/javascript/reference" target="_blank">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div id="map" style="height:360px;"></div>
    </div>
  </div>
</div>