<html>
  <head>
    <link href="vendors/codemirror/css/codemirror.css" rel="stylesheet">
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/codemirror/js/codemirror.js"></script>
    <script src="vendors/codemirror/js/xml.js"></script>
    <script src="js/code-editor.js"></script>

  </head>
  <body>
    <div class="animated fade-in">
      <div class="card">
        <div class="card-header">
          Code Editor - CodeMirror
          <a href="https://coreui.io/pro/" class="badge badge-danger">CoreUI Pro Component</a>
          <div class="card-header-actions">
            <a href="http://codemirror.net" class="card-header-action" target="_blank"><small class="text-muted">docs</small></a>
          </div>
        </div>
        <!-- Create code editor container -->
        <textarea id="codemirror">  &lt;!DOCTYPE html&gt;
  &lt;html lang="en"&gt;
  &lt;head&gt;

    &lt;meta charset="utf-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;
    &lt;meta name="description" content=""&gt;
    &lt;meta name="author" content="Łukasz Holeczek"&gt;
    &lt;meta name="keyword" content=""&gt;
    &lt;link rel="shortcut icon" href="img/favicon.png"&gt;

    &lt;title&gt;&lt;/title&gt;

    &lt;!-- Icons --&gt;
    &lt;link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet"&gt;
    &lt;link href="node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet"&gt;

    &lt;!-- Main styles for this application --&gt;
    &lt;link href="css/style.css" rel="stylesheet"&gt;

  &lt;/head&gt;


&lt;body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden"&gt;
  &lt;header class="header navbar"&gt;
    ...
  &lt;/header&gt;
  &lt;div class="app-body"&gt;
    &lt;div class="sidebar"&gt;
      ...
    &lt;/div&gt;
    &lt;!-- Main content --&gt;
    &lt;main class="main"&gt;

    &lt;/main&gt;
    &lt;aside class="aside-menu"&gt;
      ...
    &lt;/aside&gt;
  &lt;/div&gt;
  &lt;footer class="footer"&gt;
    ...
  &lt;/footer&gt;

  &lt;!-- Bootstrap and necessary plugins --&gt;
  &lt;script src="node_modules/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
  &lt;script src="node_modules/popper.js/dist/umd/popper.min.js"&gt;&lt;/script&gt;
  &lt;script src="node_modules/pace-progress/pace.min.js"&gt;&lt;/script&gt;

  &lt;!-- Plugins and scripts required by all views --&gt;
  &lt;script src="node_modules/chart.js/dist/Chart.min.js"&gt;&lt;/script&gt;

  &lt;!-- Main scripts --&gt;
  &lt;script src="js/app-config.js"&gt;&lt;/script&gt;
  &lt;script src="js/app.js"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
    </textarea>
      </div>
    </div>
  </body>
</html>