.image-container {
  overflow: hidden;
  position: relative;
}
.responsive-img {
  min-height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: left; /* Adjusts the position of the image within the container */
}
