<!-- Plugins and scripts required by this view-->
<script src="js/google-maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=InitMap&amp;key=AIzaSyASyYRBZmULmrmw_P9kgr7_266OhFNinPA"></script>


<div class="animated c-fade-in">
  <div class="c-card">
    <div class="c-card-header"><i class="icon-map"></i>Google Maps<a class="c-badge c-badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
      <div class="c-card-header-actions"><a class="c-card-header-action" href="https://google-developers.appspot.com/maps/documentation/javascript/reference" target="_blank"><small class="c-text-muted">docs</small></a></div>
    </div>
    <div class="c-card-body">
      <div id="map" style="height:360px;"></div>
    </div>
  </div>
</div>