.progress {
  --cui-progress-height: #{$progress-height};
  --cui-progress-bg: #{$progress-bg};
  --cui-progress-border-radius: #{$progress-border-radius};
  --cui-progress-box-shadow: #{$progress-box-shadow};
  --cui-progress-bar-color: #{$progress-bar-color};
  --cui-progress-bar-bg: #{$progress-bar-bg};
  --cui-progress-bar-transition: #{$progress-bar-transition};
}
