:host {
  .row {
    background-color: rgba(255, 0, 0, .1);
    min-height: 10rem;
  }

  .row+.row {
    margin-top: 1rem;
  }

  .row > .col, .row > [class^=col-] {
    background-color: rgba(39, 41, 43, .03);
    border: 1px solid rgba(39, 41, 43, .1);
    padding-bottom: .75rem;
    padding-top: .75rem;
  }
}
