.range-slider {
  --cui-range-slider-track-width: #{$range-slider-track-width};
  --cui-range-slider-track-height: #{$range-slider-track-height};
  --cui-range-slider-track-cursor: #{$range-slider-track-cursor};
  --cui-range-slider-track-bg: #{$range-slider-track-bg};
  --cui-range-slider-track-border-radius: #{$range-slider-track-border-radius};
  --cui-range-slider-track-box-shadow: #{$range-slider-track-box-shadow};
  --cui-range-slider-track-in-range-bg: #{$range-slider-track-in-range-bg};
  --cui-range-slider-disabled-track-in-range-bg: #{$range-slider-disabled-track-in-range-bg};

  --cui-range-slider-label-padding-y: #{$range-slider-label-padding-y};
  --cui-range-slider-label-padding-x: #{$range-slider-label-padding-x};
  --cui-range-slider-label-font-size: #{$range-slider-label-font-size};
  --cui-range-slider-label-color: #{$range-slider-label-color};

  --cui-range-slider-thumb-width: #{$range-slider-thumb-width};
  --cui-range-slider-thumb-height: #{$range-slider-thumb-height};
  --cui-range-slider-thumb-bg: #{$range-slider-thumb-bg};
  --cui-range-slider-thumb-border: #{$range-slider-thumb-border};
  --cui-range-slider-thumb-border-radius: #{$range-slider-thumb-border-radius};
  --cui-range-slider-thumb-box-shadow: #{$range-slider-thumb-box-shadow};
  --cui-range-slider-thumb-focus-box-shadow: #{$range-slider-thumb-focus-box-shadow};
  --cui-range-slider-thumb-active-bg: #{$range-slider-thumb-active-bg};
  --cui-range-slider-thumb-disabled-bg: #{$range-slider-thumb-disabled-bg};
  --cui-range-slider-thumb-transition: #{$range-slider-thumb-transition};

  --cui-range-slider-tooltip-zindex: #{$zindex-tooltip};
  --cui-range-slider-tooltip-padding-y: #{$range-slider-tooltip-padding-y};
  --cui-range-slider-tooltip-padding-x: #{$range-slider-tooltip-padding-x};
  --cui-range-slider-tooltip-margin-end: #{$range-slider-tooltip-margin-end};
  --cui-range-slider-tooltip-margin-bottom: #{$range-slider-tooltip-margin-bottom};
  --cui-range-slider-tooltip-font-size: #{$range-slider-tooltip-font-size};
  --cui-range-slider-tooltip-color: #{$range-slider-tooltip-color};
  --cui-range-slider-tooltip-bg: #{$range-slider-tooltip-bg};
  --cui-range-slider-tooltip-border-radius: #{$range-slider-tooltip-border-radius};
  --cui-range-slider-tooltip-box-shadow: #{$range-slider-tooltip-box-shadow};
  --cui-range-slider-tooltip-transition: #{$range-slider-tooltip-transition};

  --cui-range-slider-tooltip-arrow-width: #{$range-slider-tooltip-arrow-width};
  --cui-range-slider-tooltip-arrow-height: #{$range-slider-tooltip-arrow-height};
}

.range-slider.vertical {
  --cui-range-slider-vertical-track-width: #{$range-slider-vertical-track-width};
  --cui-range-slider-vertical-track-height: #{$range-slider-vertical-track-height};
}
