<html><head><link href="vendors/bootstrap-daterangepicker/css/daterangepicker.min.css" rel="stylesheet">
<link href="vendors/select2/css/select2.min.css" rel="stylesheet">
<!-- Plugins and scripts required by this view-->
<script src="vendors/jquery/js/jquery.slim.min.js"></script>
<script src="vendors/jquery.maskedinput/js/jquery.maskedinput.js"></script>
<script src="vendors/moment/js/moment.min.js"></script>
<script src="vendors/select2/js/select2.min.js"></script>
<script src="vendors/bootstrap-daterangepicker/js/daterangepicker.js"></script>
<script src="js/advanced-forms.js"></script>


</head><body><div class="animated c-fade-in">
  <div class="c-row">
    <div class="c-col-md-6">
      <div class="c-card">
        <div class="c-card-header"><i class="icon-note"></i> Masked Input Plugin for jQuery<a class="c-badge c-badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
          <div class="c-card-header-actions"><a class="c-card-header-action" href="https://github.com/digitalBush/jquery.maskedinput" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <form>
            <fieldset class="c-form-group">
              <label>Date input</label>
              <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-calendar"></i></span></span>
                <input class="c-form-control" id="date" type="text">
              </div><small class="c-text-muted">ex. 99/99/9999</small>
            </fieldset>
            <fieldset class="c-form-group">
              <label>Phone input</label>
              <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-phone"></i></span></span>
                <input class="c-form-control" id="phone" type="text">
              </div><small class="c-text-muted">ex. (999) 999-9999</small>
            </fieldset>
            <fieldset class="c-form-group">
              <label>Taxpayer Identification Numbers</label>
              <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-usd"></i></span></span>
                <input class="c-form-control" id="tin" type="text">
              </div><small class="c-text-muted">ex. 99-9999999</small>
            </fieldset>
            <fieldset class="c-form-group">
              <label>Social Security Number</label>
              <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-male"></i></span></span>
                <input class="c-form-control" id="ssn" type="text">
              </div><small class="c-text-muted">ex. 999-99-9999</small>
            </fieldset>
            <fieldset class="c-form-group">
              <label>Eye Script</label>
              <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-asterisk"></i></span></span>
                <input class="c-form-control" id="eyescript" type="text">
              </div><small class="c-text-muted">ex. ~9.99 ~9.99 999</small>
            </fieldset>
            <fieldset class="c-form-group">
              <label>Credit Card Number</label>
              <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-credit-card"></i></span></span>
                <input class="c-form-control" id="ccn" type="text" placeholder="0000 0000 0000 0000">
              </div><small class="c-text-muted">ex. 9999 9999 9999 9999</small>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-md-6">
      <div class="c-card">
        <div class="c-card-header"><i class="icon-note"></i> Select2<a class="c-badge c-badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
          <div class="c-card-header-actions"><a class="c-card-header-action" href="https://select2.github.io" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <fieldset class="c-form-group">
            <label>Modern Select</label>
            <select class="c-form-control select2-single" id="select2-1">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </fieldset>
          <fieldset class="c-form-group">
            <label>Multiple Select / Tags</label>
            <select class="c-form-control select2-multiple" id="select2-2" multiple="">
              <option>Option 1</option>
              <option selected="">Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </fieldset>
          <fieldset class="c-form-group">
            <label>Group Select</label>
            <select class="c-form-control" id="select2-3" data-placeholder="Your Favorite Football Team">
              <option value=""></option>
              <optgroup label="NFC EAST">
                <option>Dallas Cowboys</option>
                <option>New York Giants</option>
                <option>Philadelphia Eagles</option>
                <option>Washington Redskins</option>
              </optgroup>
              <optgroup label="NFC NORTH">
                <option>Chicago Bears</option>
                <option>Detroit Lions</option>
                <option>Green Bay Packers</option>
                <option>Minnesota Vikings</option>
              </optgroup>
              <optgroup label="NFC SOUTH">
                <option>Atlanta Falcons</option>
                <option>Carolina Panthers</option>
                <option>New Orleans Saints</option>
                <option>Tampa Bay Buccaneers</option>
              </optgroup>
              <optgroup label="NFC WEST">
                <option>Arizona Cardinals</option>
                <option>St. Louis Rams</option>
                <option>San Francisco 49ers</option>
                <option>Seattle Seahawks</option>
              </optgroup>
              <optgroup label="AFC EAST">
                <option>Buffalo Bills</option>
                <option>Miami Dolphins</option>
                <option>New England Patriots</option>
                <option>New York Jets</option>
              </optgroup>
              <optgroup label="AFC NORTH">
                <option>Baltimore Ravens</option>
                <option>Cincinnati Bengals</option>
                <option>Cleveland Browns</option>
                <option>Pittsburgh Steelers</option>
              </optgroup>
              <optgroup label="AFC SOUTH">
                <option>Houston Texans</option>
                <option>Indianapolis Colts</option>
                <option>Jacksonville Jaguars</option>
                <option>Tennessee Titans</option>
              </optgroup>
              <optgroup label="AFC WEST">
                <option>Denver Broncos</option>
                <option>Kansas City Chiefs</option>
                <option>Oakland Raiders</option>
                <option>San Diego Chargers</option>
              </optgroup>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card-header"><i class="icon-note"></i> DateRangePicker<a class="c-badge c-badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
          <div class="c-card-header-actions"><a class="c-card-header-action" href="http://www.daterangepicker.com" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <fieldset class="c-form-group">
            <label>DateRangePicker</label>
            <div class="c-input-group"><span class="c-input-group-prepend"><span class="c-input-group-text"><i class="fa fa-calendar"></i></span></span>
              <input class="c-form-control" name="daterange" type="text">
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
</div></body></html>