<!-- Plugins and scripts required by this view-->
<script src="vendors/jquery/js/jquery.slim.min.js"></script>
<script src="vendors/jquery-validation/js/jquery.validate.js"></script>
<script src="js/validation.js"></script>


<div class="animated c-fade-in">
  <div class="c-row">
    <div class="c-col-md-12">
      <div class="c-card">
        <div class="c-card-header"><i class="icon-note"></i> Validation - jQuery Validation Plugin<a class="c-badge c-badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
          <div class="c-card-header-actions"><a class="c-card-header-action" href="https://github.com/jzaefferer/jquery-validation" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">This jQuery plugin makes simple clientside form validation easy, whilst still offering plenty of customization options. It makes a good choice if you’re building something new from scratch, but also when you’re trying to integrate something into an existing application with lots of existing markup. The plugin comes bundled with a useful set of validation methods, including URL and email validation, while providing an API to write your own methods. All bundled methods come with default error messages in english and translations into 37 other languages.
          <hr />
          <div class="c-row">
            <div class="c-col-md-6">
              <h6>Simple Form</h6>
              <form id="signupForm">
                <div class="c-form-group">
                  <label class="c-col-form-label" for="firstname">First name</label>
                  <input class="c-form-control" id="firstname" type="text" name="firstname" placeholder="First name" />
                </div>
                <div class="c-form-group">
                  <label class="c-col-form-label" for="lastname">Last name</label>
                  <input class="c-form-control" id="lastname" type="text" name="lastname" placeholder="Last name" />
                </div>
                <div class="c-form-group">
                  <label class="c-col-form-label" for="username">Username</label>
                  <input class="c-form-control" id="username" type="text" name="username" placeholder="Username" />
                </div>
                <div class="c-form-group">
                  <label class="c-col-form-label" for="email">Email</label>
                  <input class="c-form-control" id="email" type="text" name="email" placeholder="Email" />
                </div>
                <div class="c-row">
                  <div class="c-form-group c-col-md-6">
                    <label class="c-col-form-label" for="password">Password</label>
                    <input class="c-form-control" id="password" type="password" name="password" placeholder="Password" />
                  </div>
                  <div class="c-form-group c-col-md-6">
                    <label class="c-col-form-label" for="confirm_password">Confirm password</label>
                    <input class="c-form-control" id="confirm_password" type="password" name="confirm_password" placeholder="Confirm password" />
                  </div>
                </div>
                <div class="c-form-group">
                  <div class="checkbox">
                    <label>
                      <input id="agree" type="checkbox" name="agree" value="agree" /> Please agree to our policy
                    </label>
                  </div>
                </div>
                <div class="c-form-group">
                  <button class="c-btn c-btn-primary" type="submit" name="signup" value="Sign up">Sign up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
</div>